[Desktop Entry]
Exec=qtarot.py
GenericName[en_US]=Simple Tarot Fortune Teller
GenericName=Simple Tarot Fortune Teller
Icon=qtarot
Name[en_US]=QTarot
Name=QTarot
StartupNotify=true
Terminal=false
Categories=Application;Accessories;Utility
Type=Application
